header{
    background-color: green;
  }
  
  nav {
    background-color: orange;
  }
  
  main {
    background-color: brown;
  }
  
  section {
    background-color: light-blue;
  }
  
  article {
    background-color: red;
  }
  
  article {
    background-color: purple;
  }
  
  aside {
    background-color: pink;
  }
  
  aside {
    background-color: blue;
  }
  
  footer {
    background-color: yellow;
  } 
